<div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-table me-2"></i></span> Clienti magazin
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="example"
              class="table table-striped data-table"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Nume</th>
                  <th>Telefon</th>
                  <th>Email</th>
                  <th>Voucher</th>
                </tr>
              </thead>
              <tbody>
                <% for (let customer of customers) {%>

                  <tr>
                    <td><a href="/customers/<%= customer._id %>"><%= customer.name %></a></td>
                    <td><%= customer.phone %></td>
                    <td><%= customer.email %></td>
                    <td><%= customer.usedVoucher %></td>
                  </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Nume</th>
                  <th>Telefon</th>
                  <th>Email</th>
                  <th>Voucher</th>
                </tr>
              </tfoot>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>  